<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Departamento y Municipio</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>PROYECTO PARA MOSTRAR LOS MUNICIPIOS QUE SEA FACTIBLE PARA PROYECTO RENOVABLE</h1>
    <h1>Selecciona tu Departamento y Municipio</h1>
    <form action="/get_municipios" method="POST">
        <!-- Selector de departamento -->
        <label for="departamento">Departamento:</label>
        <select id="departamento" name="departamento">
            <option value="">Selecciona un departamento</option>
            {% for dept in departamentos %}
            <option value="{{ dept }}">{{ dept }}</option>
            {% endfor %}
        </select>
        <!-- Selector de municipio -->
        <label for="municipio">Municipio:</label>
        <select id="municipio" name="municipio">
            <option value="">Selecciona un municipio</option>
        </select>
        <button type="submit">Enviar</button>
    </form>

    <!-- <form action="/predict" method="POST">
        <label for="review">Ingrese su reseña de producto:</label><br>
        <textarea id="review" name="review" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Enviar">
    </form>
    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %} -->

    <script>
        // Actualizar los municipios cuando selecciona un departamento
        $('#departamento').change(async function () {
            function getMunicipios() {
                let result;
                try {
                    const result = $.ajax({
                        type: 'POST',
                        url: '/get_municipios',
                        contentType: 'application/json',
                        data: JSON.stringify({ "departamento": departamento }),
                        dataType: "json"
                    });
                    return result;
                } catch (error) {
                    console.error(error);
                    return error;
                }
            }
            var departamento = $(this).val();
            if (departamento) {
                const { municipios } = await getMunicipios();
                console.log(municipios, ' responseJSON')
                if (municipios)
                    $.each(municipios, function (index, municipio) {
                        $('#municipio').append('<option value="' + municipio + '">' + municipio + '</option>');
                    });
            }
        });
    </script>
</body>

</html>